:root {
  --nav-height: 56px;
}

.main {
  min-height: 100vh;
  background-image: url('../../../static/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  justify-content: center;
  /* align-items: center; */
}

.content {
  flex-flow: column wrap;
  align-items: center;
}

.title {
  font-size: 10rem;
  padding-top: 5rem;
}

.text {
  font-weight: 600;
  font-size: 3rem;
}

span
 {
  color: (--mantine-color-blue-filled);
 }